<h1>Listing stories</h1>

<% @stories.each do |story| %>
<li><%= link_to story.title, story %>|<%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></li>
<% end %>

<br />

<%= link_to 'Nieuwe story', new_story_path %>
